header{
    width: auto;
    text-align: center;
}
img{
    width: 20%;
    margin-top: 170px;
    border-radius: 3%;
}
.sel{
    height: 23px;
    width: 155px;
}

@media screen and (max-width: 400px){
    img{
        width: 150px;
    }
    h2{
        font-size: 18px;
    }   
}